package components

import "github.com/ikaio/tailmplx/services/production"

templ PageHome(props PageProps) {
	if productions, err := production.ListProductions(100); err == nil {
		@ProductionSlide(ProductionSlidesOption{"Added Recently", "New production this week."}, productions)
	}
}
