package components

templ Input(name, place string) {
	<input
		name={ name }
		placeholder={ place }
		class="px-4 w-full border-2 border-zinc-800 focus:border-zinc-700 rounded h-full placeholder:black"
	/>
}
