package components

templ NotFound(path string) {
	<div>
		<h1 class="font-bold text-2xl">Page Not Found: 404</h1>
		Sorry, we could not find <span class="text-blue-500">{ path }</span>. Maybe it was deleted or there is a typo, please try again or <a class="text-blue-500" href="/">return to the home page.</a>
	</div>
}

templ Error(error_code string) {
	{ error_code }
}