package panel

templ Input(label, model, placeholder string) {
	<div class="max-w-max flex flex-col">
		<h3 class="text-xs leading-loose text-zinc-500">{ label }</h3>
		<input x-model={ model } placeholder={ placeholder } class="px-2 py-1 border border-zinc-500/25 text-zinc-700 focus:text-zinc-800"/>
	</div>
}
