package pages

import "net/http"

templ NotFound(r *http.Request) {
	<div class="max-w-[750px]">
		<h1 class="font-bold text-2xl">Page Not Found: 404</h1>
		Sorry, we could not find {r.URL.Path}. Maybe it was deleted or there is a typo, please try again or <a class="text-blue-500" href="/">return to the home page</a>.
	</div>
}
