package ui

templ B(href string) {
    <a href={templ.URL(href)} class="px-4 py-2 gap-1 w-max rounded flex items-center font-bold bg-blue-600 hover:bg-blue-500 transition-colors">
        { children... }
    </a>
}

templ A(href string) {
    <a href={templ.URL(href)} class="text-blue-600 hover:text-blue-500 transition-colors">
        { children... }
    </a>
}