name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/setup-go@v4
      - uses: actions/checkout@v4

      - name: Installing Dependencies
        run: |
          npm i -g tailwindcss
          go mod download

      - name: Create Release Directory
        run: mkdir release 2>/dev/null

      - name: Build Binary
        run: go build -o ./release/

      - name: Copy Public Directory
        run: cp -r web/public release

      - name: Generate Tailwind Output CSS
        run: tailwindcss --minify -c tailwind.config.js -i web/input.css -o release/public/assets/output.css

      - uses: actions/upload-artifact@v4
        with:
          name: release
          path: ./release/
